## Sets
* Sets are used to store multiple items in a single variable.
* A set is a collection which is unordered, unchangeable, and unindexed.
* Set items are unchangeable, but you can remove items and add new items.

In [ ]:
# Sets are written with curly brackets.
thisset = {"apple", "banana", "cherry"}
print(thisset)

## Set Items
* Set items are unordered, unchangeable, and do not allow duplicate values.
* Sets are unordered, so you cannot be sure in which order the items will appear.

## Unordered
* Unordered means that the items in a set do not have a defined order.
* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.
* Once a set is created, you cannot change its items, but you can remove items and add new items.

## Duplicates Not Allowed
* Sets cannot have two items with the same value.

In [ ]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

* The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

* The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [ ]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

## Get the Length of a Set
* To determine how many items a set has, use the len() function.

In [ ]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

## Set Items - Data Types
* Set items can be of any data type:

In [ ]:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

* A set can contain different data types:

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}